body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
.container {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: cursive;
    font-size: 70px;
    color: #6500ff;
}

.mainBlock {
    width: 50em;
    background-color: rgb(877, 83, 8);
    margin-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 2em;
    padding-top: 2em;
    opacity: 0.9;
    box-shadow: 0 0 30px yellow;
    border-radius: 50px;
}


.mainBlock div {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-column-gap: 5px;
}

.textIn {
    height: 2em;
    text-align: center;
    outline: none;
    border: none;
}

#addBtn{
    border: none;
    background-color: #fff;
    color: #000;
    font-family: cursive;
}

#addBtn:hover{
    background-color: rgb(84, 680, 94);
    color: deeppink;
}

input[type='date']{
    font-family: cursive;
}

ul {
    list-style: none;
    padding: 0;
}

li{
    display: grid;
    grid-template-columns: 10fr 1fr 1fr ;
    margin-top: 10px;
}

.deleteBtn{
    width: 80px;
    height: 30px;
    background-color: white;
    border: none;
    font-family: cursive;

}
.deleteBtn:hover{
    background-color: rgb(80, 7, 45);
    color: white;
}

.taskDone{
    text-decoration: none;
}

.done{
    text-decoration: line-through;
}